.link {
    text-decoration: none;
    color: #1b1e21;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-primary {
    color: #007bff;

    &:hover {
        color: #0069d9;
    }
}

.link-secondary {
    color: #6c757d;

    &:hover {
        color: #5a6268;
    }
}
